* {
    padding: 0;
    margin: 0;
}
/*-----------------------------------------Inicio Media Queri---------------------------------*/
@media  screen and (min-width: 375px) {
    .logo{
    text-align: center; 
}
.logo img {
    height: 100px;
    width: 100px;
}
h1{
    margin-top: 20px;
}
}
/*-----------------------------------------Fin Media Queri---------------------------------*/
.logo {
    text-align: left;
}

.logo img {
    height: 70px;
    width: 70px;
}

.rosa {
    background-color: palevioletred;
    border-radius: 20px;
}

.violeta {
    background-color: violet;
    border-radius: 20px;
}

.azul {
    background-color: #2e518b;
    border-radius: 20px;
}

.verde {
    background-color: greenyellow;
    border-radius: 20px;
}

.amarillo {
    background-color: yellow;
    border-radius: 20px;
}

.naranja {
    background-color: orange;
    border-radius: 20px;
}

/*Inicio Propiedades del body*/

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 50px;
    padding-top: 20px;
}

h2 {
    text-align: center;
    font-family: kalam;
    margin-top: 20px;

}

h6 {
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;

}

p {
    color: white;
    background-color: black;
    width: auto;
    height: auto;
    border-radius: 10px;
    padding-left: 20px;
}

/*Fin Propiedades del body*/
header {
    width: 100%;
    z-index: 100;
    height: 100px;
    text-align: center;
    background-color: pink;
}

header .boton_desplegable {
    display: inline-block;
    position: relative;
}

.boton {
    border: 1px solid #2e518b;
    padding: 10px;
    background-color: #2e518b;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}

.boton_contenido {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: black;
    border-radius: 10px;
}

li a:hover {
    color: pink;
}

.boton_desplegable:hover .boton_contenido {
    display: block;
}

.boton_contenido a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.boton_contenido a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
    border-radius: 10px;
}
.centrar_boton .boton{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 375px;
    margin-top: 50px;
    text-decoration: none;
}
/*Inicio Propiedades del main*/
.imagen {
    border-radius: 20px;
}

.imagen:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px lightblue;
    -webkit-box-shadow: 0px 0px 15px 15px linear-gradient(90deg, #FF56D9);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: 0.5s;
}

.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    flex-direction: row;
    background-color: #2e518b;
    margin-top: 40px;
}

.FlexContainer div img {
    width: 250px;
    height: 250px;
    margin: 17px;
    background-color: lightblue;

}

.parrafos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    overflow: auto;
    flex-direction: row;
}

.parrafos div {
    width: 300px;
    height: 300px;
    margin: 53px;
}

/*Fin Propiedades del main*/
/*Inicio form*/
.formulario{
    text-align: center;
    width: auto;
}

/*Fin form*/

.volver {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    color: #FFF;
    border-radius: 50px;
    text-align: auto;
    font-size: 30px;
    z-index: 100;
    margin-top: 13px;
}
.wattsapp{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    left: 40px;
    color: #FFF;
    border-radius: 50px;
    text-align: auto;
    font-size: 30px;
    z-index: 100;
    margin-top: 13px;
}
.wattsapp :hover{
   transform: scale(2);
}
.parrafo_grande {
    font-size: 50PX;
    color: #ffffff;
}

.body_parrafo {
    background-color: black;
}

.volverp a {
    text-align: start;
    text-decoration: none;
    font-size: 30px;
}

.volver_siguiente {
    display: block;
    margin-top: 50px;

}

.volver_siguiente a {
    margin-left: 50px;
    font-size: 25px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: blue;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background-color: red;
    height: 300px;
}